.form-wrapper-payment{
    display: wrap;
    flex-wrap: wrap;
    margin: 15px 220px 0 150px; /* top right bottom left */
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0px -16px ; 
    /* box-shadow: 0px 10px 50px #555; */
  }
  
  /*form box*/
  .col-25 {
    -ms-flex: 30%; /* IE10 */
    flex: 25%;
  }
  
  /*column*/
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  /*cart box*/
  .col-75 {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .paymentbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .paymentbtn:hover {  
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
  }
  
  .mycontainer {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    
  }

  .button-style{
    background-color: #f2f2f2;
    color: rgb(49, 89, 199);
    margin: 0px;
    border: none;
    font-weight: 500;
  
  }
  
  .button-style:hover{
    color: rgb(11, 11, 131);
    text-decoration: underline;
    border: none;
  
  }
  

  
 .payment-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .select-input {
    width: 80%;
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }

  input.error {
    border: 1px solid red;
    width: 100%;
    padding: 12px;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  

  span.price {
    float: right;
    color: grey;
  }


  
  /* Responsive layout - when the screen is less than 800px wide, make the two
   columns stack on top of each other instead of next to each other 
   (and change the direction - make the "cart" column go on top) */
  @media (max-width: 500px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }